#example {
  position: relative;
  width: 550px;
  height: 200px;
  background-color: yellow;
}
.square {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: blue;
  z-index: 1000;
}
#myContainer {
  width: 550px;
  height: 200px;
  position: relative;
  background: yellow;
}
#lid {
  width: 550px;
  height: 200px;
  position: relative;
  z-index: 10000;
}
.cover {
  background-color: blue;
}
#lever1 {
  top: 50px;
  left: 50px;
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: red;
  font-size: 25pt;
  text-align: center;
}
#lever2 {
  top: 50px;
  left: 100px;
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: red;
  font-size: 25pt;
  text-align: center;
}
#lever3 {
  top: 50px;
  left: 150px;
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: red;
  font-size: 25pt;
  text-align: center;
}
#lever4 {
  top: 50px;
  left: 200px;
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: red;
  font-size: 25pt;
  text-align: center;
}
#lever5 {
  top: 50px;
  left: 250px;
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: red;
  font-size: 25pt;
  text-align: center;
}
#lever6 {
  top: 50px;
  left: 300px;
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: red;
  font-size: 25pt;
  text-align: center;
}
#lever7 {
  top: 50px;
  left: 350px;
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: red;
  font-size: 25pt;
  text-align: center;
}
#lever8 {
  top: 50px;
  left: 400px;
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: red;
  font-size: 25pt;
  text-align: center;
}
#lever9 {
  top: 50px;
  left: 450px;
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: red;
  font-size: 25pt;
  text-align: center;
}
#s1 {
  left: 0px;
  top: 0px;
}
#s2 {
  left: 525px;
  top: 0px;
}
#s3 {
  left: 0px;
  top: 175px;
}
#s4 {
  left: 525px;
  top: 175px;
}
.box-shadow {
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.75);
   box-shadow:        0px -4px 3px rgba(50, 50, 50, 0.75);
}
h4#swalsumequal {
   color: darkgreen;
}
h4#swalsumgreater {
   color: darkgreen;
}
h4#swalnopossibilities {
   color: darkgreen;
}
h4#swalwelldone {
   color: darkgreen;
}
